<div class="login">
  <table>
    <tr>
      <td>
          User Name
      </td>
      <td>
          <input type="text" [(ngModel)]="userName" />
      </td>
    </tr>
    <tr>
      <td>
          Password
      </td>
      <td>
          <input type="password" [(ngModel)]="password" />
      </td>
    </tr>
    <tr>
      <td>
          
      </td>
      <td>
          <button (click)="onLogin()">Login</button>
      </td>
    </tr>
    <tr>
      <td>
         Create Account 
      </td>
      <td>
          <a routerLink="/signUp">signUp</a>
      </td>
    </tr>
  </table>
  <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>  
</div>