/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.login, .sign-up, .gallery {
    border: solid 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20%;
    height: auto;
    width: 400px;
}